## This is the folder for the Data. Just add a Folder with the name of the gallery.
## The .gitignore is only created, so that there is an empty folder in a new clone.
## See http://stackoverflow.com/questions/115983/how-do-i-add-an-empty-directory-to-a-git-repository
# Ignore everything in this directory
*
# Except this file
!.gitignore
